h1,h2,h3,h4{
	font-family: times;
	color: #560d0d;
	font-size: 24px;
}
#name{
	font-weight: bold;
	font-family: lucida;
	text-align: center;
	font-size: 30px;

}
#answer,#sports{
	border: 5px dotted yellow;
	font-weight: bold;
	font-family: fantasy;
	font-size: 20px;

}

ul{
	font-family: fantasy;
	font-size: 20px
	font-weight:bold;

}
html{
	background-color: #b0e2e8;
}